<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WEDDING</title>
    
     
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container gallery-container">

    <h1>FORMAL PARTIES</h1>

    <p class="page-description text-center">We are the event organizer and provide total assistance for all major aspects of an event, such as venue arrangement, cloth and floral decoration, superstructures, accommodation, sitting arrangements, parking space, crowd management, security, dining and refreshments and audio video arrangements (LEDs and Flying sounds) etc.
Be it a small get together in your office premises or a full fledged annual body meeting we will give you holistic services that are limitless. and any other necessity you may have can be organized in a snap.A well-executed event can boost your credibility with employees, clients, prospects, media and other stakeholders.

But a flawed event can often cause ir-reparable damage.</p>
    <div class="tz-gallery">
<h3><b>FORMAL PARTIES DECORS</b></h3>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/dec imge3.jpg">
                    <img src="assets/images/dec imge3.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/decor image1.jpg">
                    <img src="assets/images/decor image1.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/image2.jpg">
                    <img src="assets/images/image2.jpg" alt="Tunnel">
                </a>
            </div>
            
         
<h3><b>CATERING</b></h3>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/cat3.jpg">
                    <img src="assets/images/cat3.jpg" alt="Rocks">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/cater2.jpg">
                    <img src="assets/images/cater2.jpg" alt="Benches">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/cater 1.jpg">
                    <img src="assets/images/cater 1.jpg" alt="Sky">
                </a>
            </div>
        </div>
</div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>