<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WEDDING</title>
    
     
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container gallery-container">

    <h1>WEDDING</h1>

    <p class="page-description text-center">A wedding is a marriage ceremony where legally or formally recognized union of two people as partners in a personal relationship. Wedding conventions and traditions shift incredibly between societies, ethnic gatherings, religions, nations, and social classes. Most wedding functions include a trade of marriage promises by the couple, introduction of a blessing offering, ring representative thing, blossoms, cash, and an open announcement of marriage by a specialist figure.

Extraordinary wedding articles of clothing are frequently worn, and the function is at times taken after by a wedding gathering. Music, petitions, readings or religious writings are likewise regularly consolidated into the service. We as a Wedding Planners make your dream come true by providing the best wedding event services with our highly professional Wedding Planners Hyderabad.</p>
    
    <div class="tz-gallery">
<h3><b>WEDDING DECORS</b></h3>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/wedd.jpg">
                    <img src="assets/images/wedd.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/wedd1.jpg">
                    <img src="assets/images/wedd1.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/wedd3.jpg">
                    <img src="assets/images/wedd3.jpg" alt="Tunnel">
                </a>
            </div>
            
         <h3><b>RECEPTION DECORS</b></h3>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/reception.jpg">
                    <img src="assets/images/reception.jpg" alt="Coast">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/reception1.jpg">
                    <img src="assets/images/reception1.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="assets/images/reception.jpg">
                    <img src="assets/images/reception.jpg" alt="Traffic">
                </a>
            </div>
       </div>    
<h3><b>CATERING</b></h3>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/cateringwed.jpg">
                    <img src="assets/images/cateringwed.jpg" alt="Rocks">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/Cateringwed1.jpg">
                    <img src="assets/images/Cateringwed1.jpg" alt="Benches">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/Cateringwed2.jpg">
                    <img src="assets/images/Cateringwed2.jpg" alt="Sky">
                </a>
            </div>
        </div>
</div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>