<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

       <title>FESTIVAL</title>
     
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container gallery-container">

    <h1>FESTIVALS</h1>

    <p class="page-description text-center">A festival is an event ordinarily celebrated by a community and centering on some characteristic aspect of that community and its religion or cultures .
we plan in a way to make your festivals very auspicious and you have the best celebrations with your family 

    </p>
    <div class="tz-gallery">
<h3><b>GANESH CHATURTHI DECORS</b></h3>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/ganesh.jpg">
                    <img src="assets/images/ganesh.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/ganesh1.jpg">
                    <img src="assets/images/ganesh1.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/ganesh2.jpg">
                    <img src="assets/images/ganesh2.jpg" alt="Tunnel">
                </a>
            </div>
            
         <h3><b>DHANDIYA PARTY DECORS</b></h3>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/dhandiya.jpg">
                    <img src="assets/images/dhandiya.jpg" alt="Coast">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/dhandiya1.jpg">
                    <img src="assets/images/dhandiya1.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="assets/images/haldhi.jpg">
                    <img src="assets/images/haldhi.jpg" alt="Traffic">
                </a>
            </div>
       </div>    
<h3><b>HOLI PARTY DECORS</b></h3>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/holi.jpg">
                    <img src="assets/images/holi.jpg" alt="Rocks">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/holi1.jpg">
                    <img src="assets/images/holi1.jpg" alt="Benches">
                </a>
            </div>
        </div>
</div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>