<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WEDDING</title>
    
     
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container gallery-container">

    <h1>BIRTHDAY PARTY</h1>

    <p class="page-description text-center">
     “We gonna party like it’s my birthday, cause you are a family the moment you choose us” – Arun Tadaka

When it comes to organizing a great birthday party and turning-up the fun-dial of your celebrations, we know exactly what ingredients of entertainment, of eye-popping decoration and merrymaking activities to add that’ll turn your party into the most memorable event of the year!
Birthdays are the best time for having fun and jolly time with friends and relatives and in each passing year, we gain more experience and wisdom.
    </p>
    <div class="tz-gallery">
<h3><b>BIRTHDAY DECORS</b></h3>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/bdy dec1.JPG">
                    <img src="assets/images/bdy dec1.JPG" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/bdy dec2.jpg">
                    <img src="assets/images/bdy dec2.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/bdy dec3.jpg">
                    <img src="assets/images/bdy dec3.jpg" alt="Tunnel">
                </a>
            </div>
            
         <h3><b>CATERING</b></h3>
        <div class="row">

            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/bdy cat1.jpg">
                    <img src="assets/images/bdy cat1.jpg" alt="Coast">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="assets/images/bdy cat2.jpg">
                    <img src="assets/images/bdy cat2.jpg" alt="Rails">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="assets/images/bdy cat 3.jpg">
                    <img src="assets/images/bdy cat 3.jpg" alt="Traffic">
                </a>
            </div>
       </div>    

</div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
</body>
</html>